**/*.egg-info
**/*.py[cod]
**/*.rst
**/*.sqlite3
**/.coverage
**/.dockerignore
**/.gcloudignore
**/.gitignore
**/.hypothesis
**/.pytest_cache
**/.pytest_cache/**/*
**/__pycache__
**/__pycache__/**/*
**/auths.example
**/auths.example/**/*
**/db
**/db/**/*
**/media
**/media/**/*
**/test_db
**/test_db/**/*
.git
.venv
Dockerfile
doc
doc/**/*
!doc/API/examples/*.json
docker-compose.yml
examples
examples/**/*
node_modules
node_modules/**/*
redis
redis/**/*
run_dev.sh
src/Procfile
src/media
src/media/**/*
src/static
src/static/**/*
